* {
    box-sizing: border-box;
    border: black;
  }
  
  /* Create two equal columns that floats next to each other */
  .column {
    float: left;
    width: 25%;
    border:solid;
    border-radius: 10px;
    padding: 10px;
    height: 20%; /* Should be removed. Only for demonstration */
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
