html, header {margin: 0; height: 110%; overflow: hidden}

.header{
  background-color: #EAEDED ;
 background-repeat: no-repeat;
  /*background-image: url(./backGround.png);
  background-attachment: fixed;
  background-size: cover;*/
}
  
.descriptionOfListItem{
  position: absolute;
  padding: 25;
  background-color: #c6c6c6;
  opacity: 0;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  transition: all 1s;
}


.listItem:hover .descriptionOfListItem{
  background: white;
  transition: 2s;
  box-shadow: 10px 10px 6px -6px black;
  min-width: 200px;
  opacity: 1;
}


  /* Create two equal columns that floats next to each other */
  .column {
    float: left;
    width: 25%;
    border:solid;
    border-radius: 10px;
    padding: 10px;
    height: 20%; /* Should be removed. Only for demonstration */
  }

  .statusCircle {
    width: 15px;
    height: 15px;
    margin-top: 2px !important;
    margin-left: 5px !important;
    border-radius: 50%;
    border: black solid 1px;
  }

  .orderColumn {
    float: left;
    width: 40%;
    border:solid;
    border-radius: 10px;
    padding: 10px;
    height: 20%; /* Should be removed. Only for demonstration */
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  .Dropdown{
    padding : 23px;
    border-radius:20px ;
  }
  .Modal_New_User{
    padding: 10px;
  }
  .TextField{
    padding: 5px;
  }
  .columnStyle{
    height: 400px;
    width: 300px;
    background-color:#faebd7;
    border-radius: 5px;
    text-align: left;
    margin-left: 5px;
   
  }

  hr{
    border-block-end: thick double #32a1ce;
    margin-top:-10px ;
  }
  h2{
    margin-top:3px ;
    text-align: center;
  }
 
 .Calender_logo{
  width: 60px;
 }
 .img{
  padding: 12px;
 }
 .Navbar{
  background-color: #f78888;
 }

 .Dashboard_Columns{
  width: 25vw;
   border: 1px solid #D0D3D4;
   /*den här cssn är till hela dashboard gränserna*/
 }
 .dashboardHeaders {
   text-align: center;
   border-radius: 5px;
   margin: 20px;
   background-color:black;

 }
.Dashboard_Titles{
  border: 1px solid   #5da2d5 ;
  background-color:#5da2d5;
  text-align: center;
  border-radius: 10px;
  margin: 5px;
  padding:8px;
}

.Dashboard_Titles.css-54{
  width: fit-content;
  align-self: center;
}
.ms-Button{
  align-self: center;
  background-color:#ececec ;
}
.ms-Toggle-thumb.thumb-63 {
  border: none; 
}
.Persona_In_Dropdown{
  padding: 10px;
  margin: 10px;
}
.persona{
  padding:10px
}
.Actevity_Text{

  padding: 10px;
  align-items: center;
  text-align: center;
  overflow-wrap: break-word;
  white-space: pre-line;
  max-width: 19vw;
  
}



.ulStyle{
  height: 70vh;
  list-style-type: none;
  overflow: hidden;
  overflow-y: scroll;
  padding: 0px;
  margin-left: 5px;
  margin-right: 5px;
}
li a{

  display: block;
  width: fit-content;
  overflow-y: scroll;
  height: auto;
  font-family: cursive;
  font-size: initial;
  margin: 0 0 7px 0;
  background: #F7F5F2 97% center no-repeat;

  color: #333;
  padding: 5px 0 0 5px;
  text-decoration: none;
}

.grid-wrapper {
  display: grid !important;
}
/* width */
::-webkit-scrollbar {
  width: 5px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(230, 219, 219); 
  border-radius: 10px;
}

.solidList{
  padding: 1px;
  font-weight: bold;
  font-family: "Lucida Console", Courier, monospace;
}
.solidListStyle{
  background-color: #f3f2f1;
  border-radius: 10px;
  padding:8px;
  width: fit-content;
  align-self: center;
}
.detaillist-right {
  width: 40vw;
  align-self: 'right';
}
.detaillist-left {
  width: 59vw;
}