.header{
  background-color:#c6c6c6;
}
  
  /* Create two equal columns that floats next to each other */
  .column {
    float: left;
    width: 25%;
    border:solid;
    border-radius: 10px;
    padding: 10px;
    height: 20%; /* Should be removed. Only for demonstration */
  }

  .statusCircle {
    width: 15px;
    height: 15px;
    margin-top: 2px !important;
    margin-left: 5px !important;
    border-radius: 50%;
    border: black solid 1px;
  }

  .orderColumn {
    float: left;
    width: 40%;
    border:solid;
    border-radius: 10px;
    padding: 10px;
    height: 20%; /* Should be removed. Only for demonstration */
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  .Dropdown{
    padding : 23px;
    border-radius:20px ;
  }
  .Modal_New_User{
    padding: 10px;
  }
  .TextField{
    padding: 5px;
  }
  .columnStyle{
    height: 400px;
    width: 300px;
    background-color:#faebd7;
    border-radius: 5px;
    text-align: left;
    margin-left: 5px;
    border-block-start: 0.5rem solid #32a1ce;
    border-block-end: 0.5rem solid #32a1ce;
  }

  hr{
    border-block-end: thick double #32a1ce;
    margin-top:-10px ;
  }
  h2{
    margin-top:3px ;
    text-align: center;
  }
 
 .Calender_logo{
  width: 60px;
 }
 .img{
  padding: 12px;
 }
 .Navbar{
  background-color:#c6c6c6 ;
 }

 .dashboardHeight {
   height: "100%";
}
 .Dashboard_Columns{
   margin: 1%;
   background-color: lightgreen;
   border: 1px solid gray;
   border-radius: 5px;
   border-block-start: 0.1rem solid #32a1ce;
   border-block-end: 0.1rem solid #32a1ce;
 }
 .dashboardHeaders {
   text-align: center;
   border-radius: 5px;
   margin: 20px;
   background-color: #32a1ce;
 }
.Dashboard_Titles{
  border: 1px solid gray;
  text-align: center;
  border-radius: 10px;
  margin: 20px;
  padding:8px;
  background-color: #c6c6c6;
  
}
.Dashboard_Titles.css-54{
  width: fit-content;
  align-self: center;

}
.ms-Button{
  width: fit-content;
  align-self: center;
}



.ms-Toggle-thumb.thumb-63 {
  
}