* {
    box-sizing: border-box;
    border: black;
  }
  
  /* Create two equal columns that floats next to each other */
  .column {
    float: left;
    width: 25%;
    border:solid;
    border-radius: 10px;
    padding: 10px;
    height: 20%; /* Should be removed. Only for demonstration */
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  .Dropdown{

    padding : 23px;
    border-radius:20px ;
  }
  .Modal_New_User{
    padding: 15px;
    
    
  }
  .TextField{

    padding: 15px;
  }

  .columnStyle{
    height: 400px;
    width: 300px;
    background-color:#faebd7;
    border-radius: 5px;
    text-align: left;
    margin-left: 5px;
    border-block-start: 0.5rem solid #32a1ce;
    border-block-end: 0.5rem solid #32a1ce;
  }

  hr{
    border-block-end: thick double #32a1ce;
    margin-top:-10px ;
  }
  h2{
    margin-top:3px ;
    text-align: center;
  }
 
 .Calender_logo{
  width: 60px;
  
 }
 .img{
   padding: 12px;
 }

 .dashboardHeight {
   height: "100%";
   border: 1px solid gray;
 }
 .Dashboard_Columns{
   margin: 1%;
   border: 1px solid gray;
   

 }
 .dashboardHeaders {
   border: 1px solid gray;
   text-align: center;
   border-radius: 10px;
   margin: 20px;
   background-color: #c6c6c6;
 }
